<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>


    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</head>

<body>
    <div class="main">
        <div class="row header">
            <div class="col-sm-8">
                <h1 id="name">Nicole Cortes</h1>
            </div>
            <div class="col-sm-4 nav">
                <a id = "mobile" href="/">Home</a>
                <a id="link" href="/portfolio">Portfolio</a>
                <a id="link" href="/contact">Contact</a>
                <a id="link" href="/resume">Resume</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h1 id="welcome">Welcome</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <p id="intro">Hello, I'm Nicole Cortes. World traveler, devoted beagle parent and web developer</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <button type="button" id="learn" class="btn btn-outline-dark">Learn More</button>
            </div>
        </div>
    </div>
    <div class="about">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h1 id="aboutme">About Me</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <p id="about-text">I am a MERN stack web developer with a passion for making things run smoothly. Looking to apply my analytical
                    and problem solving skills from my background in health care and science to a new industry. Passionate
                    about streamlining processes using the latest web development technologies and excel at looking at problems
                    from unique angles.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <a href="/portfolio" id="work">View My Work</a>
            </div>
        </div>
    </div>

    </div>
    </div>
    <div class="footer">
        <a href="https://www.linkedin.com/in/nicole-cortes-3bb291163/">
            <img src="../assets/images/linkedin-logo-bigger.png">
        </a>
        <a href="https://github.com/ncortes12">
            <img src="../assets/images/github-sign.png">
        </a>
        <a href="/contact">
            <img src="../assets/images/mail-black-envelope-symbol.png">
        </a>


    </div>


    <script>
        $("#learn").on("click", function (event) {
            // event.preventDefault();
            console.log("working")
            window.scrollTo(0, 600);
        })
    </script>

</body>







</body>

</html>