<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>


    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



</head>

<body>
    <div class="main">
        <div class="row header">
            <div class="col-sm-8">
                <h1 id="name">Nicole Cortes</h1>
            </div>
            <div class="col-sm-4 nav">
                    <a href="/" id ="mobile">Home</a>
                <a id="link" href="/portfolio">Portfolio</a>
                <a id="link" href="/contact">Contact</a>
                <a id="link" href="/resume">Resume</a>
            </div>
        </div>
        <div class = "row">
            <div class = "col-sm-1"></div>
                <div class = "col-sm-4 project">
                    <img id = "burger" src = "../assets/images/burger.jpg">
                    <div>
                    <a href ="https://secure-thicket-12545.herokuapp.com/ " id = "projecttitle">Eat Da Burger</a>
                    <p id= "description">Would you like create tasty burgers and then digitally devour them...sure. This app demonstrates creating, reading and updating items dynamically from a mySQL database using Sequelize to handle the ORM function of the app and  handlebars to display the html.</p>
                </div>
                </div>
        
                <div class = "col-sm-4 project">
                    <img id = "burger" src = "https://scontent.fphx1-1.fna.fbcdn.net/v/t1.0-9/17799460_1491349507551334_2164791036167994238_n.jpg?_nc_cat=0&oh=60bc0c004d42e1154b28fdc4ecc57e07&oe=5BD3DA4C">
                    <div>
                    <a href ="https://agile-earth-39394.herokuapp.com/ " id = "projecttitle">Pet Finder</a>
                    <p id= "description">Would you like to find your perfect dog match? This app will pair you with your best dog match based on a short survey of preferences.  Built using HTML, CSS, Bootstrap, JavaScript, JQuery, Node.JS and Express.JS.
                        </p>
                </div>
                </div>
        </div>
        <div class = "row">
                <div class = "col-sm-1"></div>
                    <div class = "col-sm-4 project">
                        <img id = "burger" src = "../assets/images/Banner.jpg">
                        <div>
                        <a href ="https://ncortes12.github.io/foodMacgyver/ " id = "projecttitle">Food MacGyver</a>
                        <p id= "description">This app is for those busy weeknights when you need to throw together a meal fast. Search by ingredients to include or exclude and cook time. Built using HTML, CSS, JavaScript, Materialize, JQuery and Firebase.  After only six weeks of coding classes this was done as a group project. My contribution to the project was AJAX/API calls, setting up the Firebase database and creating a user login in function.</p>
                    </div>
                    </div>
            
                    <!-- <div class = "col-sm-4 project">
                        <img id = "burger" src = "https://scontent.fphx1-1.fna.fbcdn.net/v/t1.0-9/17799460_1491349507551334_2164791036167994238_n.jpg?_nc_cat=0&oh=60bc0c004d42e1154b28fdc4ecc57e07&oe=5BD3DA4C">
                        <div>
                        <a href ="https://ncortes12.github.io/foodMacgyver/ " id = "projecttitle">Food MacGyver</a>
                        <p id= "description">This app is for those busy weeknights when you need to throw together a meal fast. Search by ingredients to include or exclude and cook time. Built using HTML, CSS, JavaScript, Materialize, JQuery and Firebase.  After only six weeks of coding classes this was done as a group project. My contribution to the project was AJAX/API calls, setting up the Firebase database and creating a user login in function.

                            </p>
                    </div>
                    </div> -->
            </div>
    </div>



    <div class="footer">
        <a href="https://www.linkedin.com/in/nicole-cortes-3bb291163/">
            <img src="../assets/images/linkedin-logo-bigger.png">
        </a>
        <a href="https://github.com/ncortes12">
            <img src="../assets/images/github-sign.png">
        </a>
        <a href="/contact">
            <img src="../assets/images/mail-black-envelope-symbol.png">
        </a>


    </div>