<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>



</head>

<body>
    <div class="main">
        <div class="row header">
            <div class="col-sm-8">
                <h1 id="name">Nicole Cortes</h1>
            </div>
            <div class="col-sm-4 nav">
                <a href="/" id ="mobile">Home</a>
                <a id="link" href="/portfolio">Portfolio</a>
                <a id="link" href="/contact">Contact</a>
                <a id="link" href="/resume">Resume</a>
            </div>
        </div>
        <div class="container">
            <div class="resume">
                <div class="row">
                    <div class="col-sm-4">

                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Education</h5>

                                <h6 class="card-subtitle mb-2 text-muted ">The University of Arizona</h6>
                                <p class="card-text diff-font">Full Stack Coding Bootcamp - October 2018</p>

                                <h6 class="card-subtitle mb-2 text-muted ">The University of Arizona</h6>
                                <p class="card-text diff-font">B.S., Anthropology: Specialization in Human Biology - May 2014</p>
                                <p class="card-text diff-font">Dean’s List Honorable Mention: Spring 2012, Fall 2013 and Spring 2014
                                </p>

                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Technical Skils</h5>
                                    <div class="row skills-text diff-font">
                                        <div class="col-4">

                                            <p class="card-text">JavaScript </p>
                                            <p class="card-text">HTML </p>
                                            <p class="card-text">CSS </p>
                                            <p class="card-text">SQL </p>
                                            <p class="card-text">Node.JS </p>
                                            <p class="card-text">Postman </p>

                                            <p class="card-text">Express.JS </p>
                                        </div>
                                        <div class="col-4">

                                            <p class="card-text">JQuery </p>
                                            <p class="card-text">MySQL </p>
                                            <p class="card-text">Materialize </p>
                                            <p class="card-text">Firebase </p>
                                            <p class="card-text">Bootstrap </p>
                                            <p class="card-text">Sequelize </p>
                                            <p class="card-text">MongoDB </p>
                                        </div>
                                        <div class="col-4">



                                            <p class="card-text">GitHub </p>
                                            <p class="card-text">Visual Studio Coder</p>
                                            <p class="card-text">Heroku </p>
                                            <p class="card-text" id="small">Handlebars</p>
                                            <p class="card-text" id="small">API's/AJAX </p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Office Manager
                                        </button>
                                    </h5>
                                    <div class="row diff-font" id="bigger">
                                        <div class="col-sm-8">
                                            <p>Integrated Audio Video Solutions LLC</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <p>March 2018 - Present</p>
                                        </div>
                                    </div>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body diff-font">
                                        <ul>
                                            <li>Streamlined accounting processes to eliminate double work and ensure proper balancing
                                                of accounts.
                                            </li>
                                            <li>Compiled and file complex sales tax returns for a company that does contracting
                                                work in several counties</li>
                                            <li>Implemented an inventory monitoring system to increase the effectiveness of job
                                                costing reporting.</li>
                                            <li>Organized customer information to better monitor account status of our customers
                                                using a CRM database.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            Clinical Lab Assistant
                                        </button>
                                        <div class="row diff-font" id="bigger">
                                            <div class="col-sm-8">
                                                <p>Sonora Quest</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <p>March 2015 - November 2017</p>
                                            </div>
                                    </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body diff-font">
                                            <ul>
                                                <li>Managed workflow for the general lab.</li>
                                                <li>Participated in projects to validate machinery and software functions.</li>
                                                <li>Maintained and improved laboratory inventory tracking and ordering.</li>
                                                <li>Ensured all testing of specimens was completed and all additional requests
                                                    for testing were processed.</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">
                                                Research/Lab Aide
                                            </button>
                                            <div class="row diff-font" id="bigger">
                                                <div class="col-sm-8">
                                                    <p>Laboratory for the Evolutionary Endocrinology of Primates</p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p>August 2013 – March 2015</p>
                                                </div>
                                        </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                            <div class="card-body diff-font">
                                                <ul>
                                                    <li>Extracted and assayed steroids from fecal samples.</li>
                                                    <li>Prepared in-house assays (coated plates with antibody).</li>
                                                    <li>Ran both in-house made and ELISA kits.</li>
                                                    <li>Validated methods in new species.</li>
                                                    <li>Trained undergraduate volunteers in all lab procedures.</li>
                                                    <li>Experience with Gen5 data analysis software.</li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" id ="UA-research" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                                    aria-controls="collapseFour">
                                                    Undergraduate Research Assistant
                                                </button>
                                                <div class="row diff-font" id="bigger">
                                                    <div class="col-sm-8">
                                                        <p>The University of Arizona</p>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <p>May 2012 – August 2013
                                                        </p>
                                                    </div>
                                            </h5>
                                            </div>
                                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                                <div class="card-body diff-font">
                                                    <ul>
                                                        <li>Used behavioral and acoustic data to investigate which signaling
                                                            modalities were being used to maintain pair cohesion.</li>
                                                        <li>Observed and recorded target behaviors and kept records in a field
                                                            notebook.</li>
                                                        <li>Converted data from field notebooks into excel spreadsheets.</li>

                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer">
                    <a href="https://www.linkedin.com/in/nicole-cortes-3bb291163/">
                        <img src="../assets/images/linkedin-logo-bigger.png">
                    </a>
                    <a href="https://github.com/ncortes12">
                        <img src="../assets/images/github-sign.png">
                    </a>
                    <a href="/contact">
                        <img src="../assets/images/mail-black-envelope-symbol.png">
                    </a>


                </div>









</body>

</html>