body {
    font-family: 'Cinzel Decorative', cursive;}
.main{background-image: url(../images/smallerTrees.png);
padding-bottom: 250px;}


.content {margin-top:50px;
        margin-bottom: 50px;
        margin-left:20%; }

#name{margin-top:30px;
margin-left:45px;
font-weight: bold;
text-decoration: none}

.nav{margin-top:45px;
    font-size:20px;
    }
#link
{margin-left: 10px;
margin-right: 5px;}

a {
    color:black
}
h1{ font-weight: bold;
    text-decoration: underline}
#welcome{
    margin-left: 25%;
    margin-top: 50%;
   
    }
#intro {
    line-height: 1.5;
    margin-top: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: italic
}
.diff-font{
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 12px;

}
#small{
    font-size:10px;
    
}
#bigger{
    margin-left: 1px;
}


#learn{
    margin-left:35%
   
}
.collapsed{
    color:black
}
.response{
    margin-top:50px;
    margin-left:10px;
    font-weight:bold;
    text-align:center
}

.about{
    background-image: url(../images/cork-wallet.png);
    padding-top: 10%;
    padding-bottom: 10%
}
#aboutme{
    margin-left: 25%;
    margin-bottom :10px;
}
#about-text{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    margin-bottom: 25px
}
#work{margin-left:35%;
    
    border-style: solid;
    border-width: 1px;
    padding:10px;
    border-radius: 5%}
#work:hover{
    background: rgb(61, 60, 60);
    color:white;
    border-color: rgb(61, 60, 60);
    
}

.footer{
    background-image: url(../images/green_cup.png);
    
    padding: 50px;
}

#burger{
    height: 200px;
    width:300px;
    margin-left:20px;
    margin-bottom: 20px;
}

.project{
    
    margin-top:100px;
    margin-left:50px;
    text-align: center
}
#description{
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}

#projecttitle{
    
    
    font-size:24px;
}









@media only screen and (max-width: 680px){

#name{margin-left:25%;}
#link{font-size:12px;}
#mobile{font-size:12px;}
.nav{margin-left:12%}
#welcome{display:none}
#intro{margin-top:25%;
font-size:14px;
padding:15px;}
#learn{
margin-left:30%;}
#aboutme{
 text-decoration: none;
 margin-left:15%
}
#about-text{
    font-size:14px;
    padding:15px
}
#work{margin-left:25%}
.resume{margin-top:20%}
.mb-2{
    font-size:14px;}
#UA-research{font-size:12px;}
.container{margin-left:-25px;}
.project{
    margin-left: 5px;
}
    
    


}

